# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# binary
bin/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/*
apis/*

# Go workspace file
go.k

# firstime-gen-client protobuf files
clients/ts/unpost-client-gen
*.log

.env
.env.local
.env.development
.env.test
.env.development.local
.env.test.local
.env.production.local

# ignore dist folder in ts projects
dist/
apis/*
docs/v1/*

node_modules
.openapi*

.DS_Store

.idea
.vscode

.tmp
tmp/
start/
